In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/lws/kulws2025/kubig2025/ornage3/data/basket_analysis.csv')
df.head()

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [2]:
df = df.drop('Unnamed: 0', axis=1)
df1 = df.replace(True, 1).replace(False, "")
df1.head()

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,,1,,,1,1,,1,,,,,1,,1,1
1,,,,,,,,,,1,,,,,,
2,1,,1,,,1,,1,,1,,,,,1,1
3,,,1,1,,1,,,,1,1,1,,,,
4,1,1,,,,,,,,,,,,,,

In [3]:
df1.to_csv('/home/lws/kulws2025/kubig2025/ornage3/data/1basket_analysis.csv', index=False)