In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/lws/kulws2025/kubig2025/ornage3/data/healthcare-dataset-3.csv')
df.head()
df.shape

(3915, 11)

In [3]:
cols2 = ['gender_encoded','work_type_encoded', 'smoking_status_encoded']
df1 = pd.get_dummies(df, columns=cols2)
df1.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,ever_married_encoded,residence_type_encoded,gender_encoded_0.0,gender_encoded_1.0,gender_encoded_2.0,work_type_encoded_0.0,work_type_encoded_1.0,work_type_encoded_2.0,work_type_encoded_3.0,smoking_status_encoded_0.0,smoking_status_encoded_1.0,smoking_status_encoded_2.0,smoking_status_encoded_3.0
0,67.0,0,1,228.69,36.6,1,1.0,1.0,False,True,False,False,False,True,False,False,True,False,False
1,80.0,0,1,105.92,32.5,1,1.0,0.0,False,True,False,False,False,True,False,False,False,True,False
2,49.0,0,0,171.23,34.4,1,1.0,1.0,True,False,False,False,False,True,False,False,False,False,True
3,79.0,1,0,174.12,24.0,1,1.0,0.0,True,False,False,False,False,False,True,False,False,True,False
4,81.0,0,0,186.21,29.0,1,1.0,1.0,False,True,False,False,False,True,False,False,True,False,False

In [4]:
df1.shape

(3915, 19)

In [5]:
list(df1.columns)

['age',
 'hypertension',
 'heart_disease',
 'avg_glucose_level',
 'bmi',
 'stroke',
 'ever_married_encoded',
 'residence_type_encoded',
 'gender_encoded_0.0',
 'gender_encoded_1.0',
 'gender_encoded_2.0',
 'work_type_encoded_0.0',
 'work_type_encoded_1.0',
 'work_type_encoded_2.0',
 'work_type_encoded_3.0',
 'smoking_status_encoded_0.0',
 'smoking_status_encoded_1.0',
 'smoking_status_encoded_2.0',
 'smoking_status_encoded_3.0']

In [6]:
cols3=['gender_encoded_0.0', 'work_type_encoded_1.0', 'smoking_status_encoded_2.0']
df1.drop(cols3, axis=1, inplace=True)
df1.shape

(3915, 16)

In [7]:
df1.to_csv('/home/lws/kulws2025/kubig2025/ornage3/data/healthcare-dataset-3.csv', index=False)