In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.arange(100, 105)
print(arr)
s1 = pd.Series(arr)
s2 = pd.Series(arr, dtype="int32")
s3 = pd.Series(["부장", "차장", "대리", "사원", "인턴"])
print(s1, s2, s3, sep="\n")

[100 101 102 103 104]
0    100
1    101
2    102
3    103
4    104
dtype: int64
0    100
1    101
2    102
3    103
4    104
dtype: int32
0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [3]:
print(s3[0])
print(s2[[1, 2, 3]])  # fancy 인덱싱
print(s3[np.arange(1, 4, 2)])  # fancy 인덱싱 -> bool 인덱싱
print(s2[s2 > 103])

부장
1    101
2    102
3    103
dtype: int32
1    차장
3    사원
dtype: object
4    104
dtype: int32

In [4]:
s = pd.Series(
    ["마케팅", "경영", "개발", "기획", "인사"], index=["a", "b", "c", "d", "e"]
)
print(s)

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [6]:
print(s["a"])

마케팅

In [7]:
print(s.values)
print(s.ndim)
print(s.shape)

['마케팅' '경영' '개발' '기획' '인사']
1
(5,)

In [8]:
s2 = pd.Series(["선화", "강호", np.nan, "소정", "우영"])

In [9]:
print(s2.isnull())
print(s2.isna())
print(s2.notnull())
print(s2[s2.notnull()])

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool
0    선화
1    강호
3    소정
4    우영
dtype: object

In [10]:
# 50개의 랜덤 (100~200) 생성 후 160 이상만 출력
np.random.seed(20)
sample = pd.Series(np.random.randint(100, 200, size=(50,)))
print(sample[sample > 160])

0     199
1     190
3     195
5     190
8     175
10    171
12    196
14    185
15    190
17    183
19    162
22    198
26    175
30    174
31    175
32    161
33    177
34    183
36    194
40    175
43    177
48    179
49    190
dtype: int64